/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser copy from love running */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General setings*/
footer {
    background-color: black;
}

header {
    background-color: #ffffff;
    color: #000000;
    font-family: "Lato", sans-serif;

    /* Stick to the page */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/*Header*/

a {
    color: #000000;
    text-decoration: none;
}
/*Make the bullet points to di disappear */
.flex-item {
    list-style-type: none;
}
/* Giving underline for nav */
.active {
    border-bottom: 1px solid;

}
/*H1 Styling*/
h1{
    display: inline-block;
    margin-top: 10px;
    font-family: "Black 900", sans-serif;
    letter-spacing: 1px;
     
}
/*Moving down the nav*/
.flex-container {
   margin-top: 20px;
   margin-left: 20px;
    
}
/*Making the nav responsitive for phones*/
.flex-item{
    padding-bottom: 10px;
    font-family: "Black 900", sans-serif;
    
}

   
/*Main*/
main {
font-family: "Lato", sans-serif;
/* Streching the main */
margin-top: 150px;
}
/* Responsive img */
#img1{
    
    width: 900px;
    flex: 100%;
    max-width: 100%;
}
/*Footer*/


/*Styling the site for tablet 768 px*/
@media screen and (min-width: 768px){

   /*Moving the h1 one to the left*/
    h1{
    padding: 10px;
   }
/*Making the divs on one line*/
    div {
        display: inline-block;
        
    }
    /*Responsitive nav element for tablets*/
    .flex-container {
        display: flex;
        justify-content: flex-end;
        margin-top: auto;
        margin-right: 15px;
    }
    .flex-item{
        padding:10px;
    }
        main {
            font-family: "Lato", sans-serif;
            /* Streching the main */
            margin-top: 100px;
            }

}

/*Styling the site for tablet 992 px*/
@media screen and (min-width: 992px) {
 
   #img1{
    width: 500px;
   
   }
   .flex-container {
    margin-right: 30px;
    }
}