/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser copy from love running */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General setings*/
main {
    background-color: black;
}

header {
    background-color: #ffffff;
    color: #000000;
    font-family: "Lato", sans-serif;

    /* Stick to the page */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/*Header*/

a {
    color: #000000;
    text-decoration: none;
}
/*Make the bullet points to di disappear */
.flex-item {
    list-style-type: none;
}
.active {
    border-bottom: 1px solid;

}
h1{
    display: inline-block;
    margin-top: 10px;
    font-family: "Black 900", sans-serif;
    letter-spacing: 1px;
     
}
/*Moving down the nav*/
.flex-container {
   margin-top: 20px;
    
}

   
/*Main*/
/*Footer*/

/*Styling the site for tablet 768 px*/
@media screen and (min-width: 768px){
    div {
        display: inline-block;
    }

}

/*Styling the site for tablet 992 px*/
@media screen and (min-width: 992px) {
 
   
}