/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser copy from love running */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General setings*/
/*General style for the footer*/
footer {
    background-color: black;
}

/*Genarel style for the header*/
header {
    background-color: #ffffff;
    color: #000000;
    font-family: "Black 900", sans-serif;

    /* Stick to the page */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/*Header*/

a {
    color: #000000;
    text-decoration: none;
}

/*Make the bullet points to di disappear */
.flex-item {
    list-style-type: none;
}

/* Giving underline for nav */
.active {
    border-bottom: 1px solid;

}

/*H1 Styling*/
h1 {
    display: inline-block;
    margin-top: 10px;
    font-family: "Black 900", sans-serif;
    letter-spacing: 1px;

}

/*Moving down the nav*/
#flex-container {
    margin-top: 20px;
    margin-left: 20px;

}

/*Making the nav responsive */
.flex-item {
    padding-bottom: 10px;
    text-transform: uppercase;
}


/*Main*/
main {
    font-family: "Lato", sans-serif;
    /* Streching the main */
    margin-top: 150px;
}

/* Responsive img */
#img1 {

    width: 991px;
    flex: 100%;
    max-width: 100%;
}

/* First section styling the contain */
.info {
    text-align: center;
    color: #1fad18;
    font-family: "Black 900", sans-serif;
    padding-top: 20px;

}

/*Styling the first section (the h2 and p)*/
.description {
    font-family: "Black 900", sans-serif;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.giveahand {
    margin-bottom: 20px;
    text-align: center;
    color: #1fad18;
    font-family: "Black 900", sans-serif;
    padding-left: 20%;
    padding-right: 20%;
}

/*Div about us */
#div2 {
    background-color: #000000;
    padding-bottom: 30px;
    margin-top: 10px;
    width: 100%;

}

#about-us {
    text-align: center;
    color: #1fad18;
    font-family: "Black 900", sans-serif;
    padding-top: 30px;

}

.about-us {
    text-align: center;
    font-family: "Black 900", sans-serif;
}

/* Color for the text in the second section */
#div2 p {
    color: #ffffff;
    font-size: large;
    padding-right: 20%;
    padding-left: 20%;
    text-align: center;
}

/*Table*/
table {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-spacing: 5px;
}

td {
    font-family: "Black 900", sans-serif;
    border-bottom: 1px solid;
}

th {
    font-family: "Black 900", sans-serif;
}

/*Offer*/
.offer {
    text-align: center;
    color: #1fad18;
    font-family: "Black 900", sans-serif;
    padding-top: 30px;
    padding-bottom: 10px;
}

.offer~ul {
    text-align: center;
    font-family: "Black 900", sans-serif;
}

/*Footer*/


/*Styling the site for tablet 768 px*/
@media screen and (min-width: 768px) {

    /*Moving the h1 one to the left*/
    h1 {
        padding: 10px;
    }

    /*Making the divs on one line*/
    div {
        display: inline-block;

    }

    /*Responsitive nav element for tablets*/
    #flex-container {
        display: flex;
        justify-content: flex-end;
        margin-top: auto;
        margin-right: 15px;
    }

    /* Giving padding to the nav */
    .flex-item {
        padding: 10px;
    }

    /* Streching the main */
    main {
        font-family: "Black 900", sans-serif;
        margin-top: 100px;
    }
/*Offer*/
    .offer~ul{
        text-align: left;
    }
}

/*Styling the site for tablet 992 px*/
@media screen and (min-width: 992px) {

    /*Respo*/
    #img1 {
        width: 500px;
        float: left;
    }

    #flex-container {
        margin-right: 30px;
    }

    #div1 {
        display: inline-block;
        font-size: large;

    }

    /* First section styling the contain */
    .description {
        padding-left: 57%;
        padding-right: 10%;
    }

    .giveahand {
        padding-left: 57%;
        padding-right: 10%;
    }

    .info {
        padding-left: 57%;
        padding-right: 10%;

    }

    main {
        font-family: "Black 900", sans-serif;
    }

}